@use '../abstracts/index.scss' as *;

.heading {
  font-size: clamp(2.4rem, 6vw, 4.8rem);
  font-family: $font-secondary;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem;

  @media (min-width: 1140px) {
    text-align: left;
  }

  &--secondary {
    font-size: clamp(2rem, 6vw, 3.8rem);
    margin-bottom: 1.5rem;
  }

  &--tertiary {
    font-size: clamp(2rem, 8vw, 4rem);
  }
}

.text {
  max-width: 62rem;
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 1140px) {
    text-align: left;
  }

  &--secondary {
    @media (min-width: 1140px) {
      max-width: 50rem;
      font-size: clamp(1.4rem, 4vw, 1.6rem);
    }
  }
}
