.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

.heading {
  font-size: clamp(2.4rem, 6vw, 4.8rem);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
@media (min-width: 1140px) {
  .heading {
    text-align: left;
  }
}
.heading--secondary {
  font-size: clamp(2rem, 6vw, 3.8rem);
  margin-bottom: 1.5rem;
}
.heading--tertiary {
  font-size: clamp(2rem, 8vw, 4rem);
}

.text {
  max-width: 62rem;
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (min-width: 1140px) {
  .text {
    text-align: left;
  }
}
@media (min-width: 1140px) {
  .text--secondary {
    max-width: 50rem;
    font-size: clamp(1.4rem, 4vw, 1.6rem);
  }
}

.container {
  width: 90%;
  max-width: 130rem;
  margin: 0 auto;
}

.header {
  margin-top: 2.5rem;
}
@media (min-width: 810px) {
  .header {
    margin-top: 7.5rem;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__img {
  width: 10rem;
}
@media (min-width: 810px) {
  .header__img {
    width: 25rem;
  }
}

.intro {
  margin: 11.5rem 0 10rem 0;
}
@media (min-width: 810px) {
  .intro {
    margin: 23rem 0 10rem 0;
  }
}
.intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1140px) {
  .intro__heading {
    text-align: center;
  }
}
@media (min-width: 1140px) {
  .intro__text {
    text-align: center;
  }
}
.intro__btn {
  margin-top: 4.5rem;
}
.intro__img {
  margin: 11rem auto;
  padding: 0 1.5rem;
}
.intro__numbers {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 11.5rem;
}
@media (min-width: 810px) {
  .intro__numbers {
    flex-direction: row;
  }
}
.intro__number {
  color: rgba(0, 37, 46, 0.4);
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.intro__number::before {
  position: absolute;
  top: -3.5rem;
  left: -0.5rem;
}
.intro__number--humans::before {
  content: url("./../../images/icon-communities.svg");
  transform: scale(0.65);
}
@media (min-width: 810px) {
  .intro__number--humans::before {
    transform: scale(1);
  }
}
.intro__number--msg::before {
  content: url("./../../images/icon-messages.svg");
  transform: scale(0.5);
}
@media (min-width: 810px) {
  .intro__number--msg::before {
    transform: scale(1);
  }
}
.intro__number-span {
  color: #00252e;
  font-weight: 700;
}
.intro__number-span--primary {
  font-size: clamp(6rem, 12vw, 9.5rem);
}
.intro__number-span--secondary {
  font-size: clamp(5.2rem, 12vw, 9.5rem);
}

.main {
  overflow-x: hidden;
}

.description {
  padding: 8rem 0 5rem 0;
}
.description__pattern {
  width: 100%;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media (min-width: 810px) {
  .description__pattern {
    height: 20rem;
  }
}
.description__pattern--one-top {
  background-image: url("./../../images/bg-section-top-mobile-1.svg");
}
@media (min-width: 810px) {
  .description__pattern--one-top {
    background-image: url("./../../images/bg-section-top-desktop-1.svg");
  }
}
.description__pattern--one-bottom {
  background-image: url("./../../images/bg-section-bottom-mobile-1.svg");
}
@media (min-width: 810px) {
  .description__pattern--one-bottom {
    background-image: url("./../../images/bg-section-bottom-desktop-1.svg");
  }
}
.description__pattern--two-top {
  background-image: url("./../../images/bg-section-top-mobile-2.svg");
}
@media (min-width: 810px) {
  .description__pattern--two-top {
    background-image: url("./../../images/bg-section-top-desktop-2.svg");
  }
}
.description__pattern--two-bottom {
  background-image: url("./../../images/bg-section-bottom-mobile-2.svg");
}
@media (min-width: 810px) {
  .description__pattern--two-bottom {
    background-image: url("./../../images/bg-section-bottom-desktop-2.svg");
  }
}
.description--blue {
  background-color: #f5faff;
}
.description--white {
  padding: 10rem 0;
}
@media (min-width: 1140px) {
  .description__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1140px) {
  .description__wrapper--reverse {
    flex-direction: row;
  }
}
.description__img {
  width: 26rem;
  margin: 0 auto 8rem auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  transition: all 0.7s;
}
.description__img.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media (min-width: 810px) {
  .description__img {
    width: 52rem;
    margin: 8rem auto;
  }
}
@media (min-width: 1140px) {
  .description__img {
    width: 52rem;
    margin: 0;
  }
}
.description__content {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition: all 0.7s;
}
.description__content.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cta {
  padding: 5rem 0 15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cta__btn {
  margin-top: 0;
}

.footer {
  color: #f5faff;
  background-color: #00252e;
  padding: 3rem 1rem 2rem 1rem;
}
@media (min-width: 1140px) {
  .footer {
    padding: 7rem 2rem;
  }
}
.footer__pattern {
  width: 100%;
  height: 10rem;
  background-image: url("./../../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-top: 10rem;
}
@media (min-width: 810px) {
  .footer__pattern {
    height: 20rem;
    background-image: url("./../../images/bg-footer-top-desktop.svg");
    background-size: cover;
  }
}
@media (min-width: 1140px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-flow: dense;
    gap: 10rem;
  }
}
@media (min-width: 1140px) {
  .footer__newsletter {
    grid-column: 3/-1;
  }
}
@media (min-width: 1140px) {
  .footer__content {
    grid-column: 1/3;
  }
}
.footer__heading {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer__text {
  max-width: 40rem;
  text-align: left;
  line-height: 1.8;
  margin: 0 0 2rem 0;
  padding: 0;
}
.footer__logo {
  width: 20rem;
  filter: brightness(0) invert(1);
}
.footer__desc {
  max-width: 30rem;
  font-size: 1.4rem;
  line-height: 1.8;
  margin: 2rem 0 4rem 0;
}
.footer__info-item {
  margin-bottom: 1rem;
}
.footer__info-item::before {
  margin-right: 1.5rem;
}
.footer__info-item--phone::before {
  content: url("./../../images/icon-phone.svg");
}
.footer__info-item--email::before {
  content: url("./../../images/icon-email.svg");
}
.footer__social-list {
  margin: 5rem 0 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer__social-item {
  transition: all 0.3s;
}
.footer__social-item:hover {
  cursor: pointer;
}
.footer__social-item:hover .footer__social-icon {
  fill: #ff52bf;
}
.footer__social-icon {
  fill: #f5faff;
  transition: all 0.3s;
}
.footer__attribution {
  font-size: 1rem;
  text-align: left;
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  text-transform: uppercase;
  color: #ff52bf;
  transition: all 0.3s;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  color: #ff8fd8;
}

.footer__error {
  color: #ff4242;
  margin-bottom: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.footer__error.error--is-visible, .footer__error.success--is-visible {
  opacity: 1;
  visibility: visible;
}
.footer__error.error--is-visible {
  color: #ff4242;
}
.footer__error.success--is-visible {
  color: #f5faff;
}
.footer__form {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1140px) {
  .footer__form {
    margin-bottom: 0;
    flex-direction: row;
    gap: 4.5rem;
  }
}
.footer__input {
  border: 0;
  border-radius: 0.5rem;
  padding: 1.3rem;
  transition: all 0.1s;
}
.footer__input:focus-visible {
  outline: 0.3rem solid #ff52bf;
}
.footer__input.error--is-visible:focus-visible {
  outline: 0.3rem solid #ff4242;
}
@media (min-width: 1140px) {
  .footer__input {
    flex-basis: 60%;
  }
}
.footer__btn {
  width: 50%;
  color: #f5faff;
  background-color: #ff52bf;
  border: 0;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1.3rem 0;
  align-self: flex-end;
  transition: all 0.3s;
}
.footer__btn:focus-visible {
  outline: 0.3rem solid #f5faff;
}
.footer__btn:hover, .footer__btn:active {
  cursor: pointer;
  background-color: #ff8fd8;
}
@media (min-width: 1140px) {
  .footer__btn {
    width: 30%;
  }
}

.btn {
  width: 20rem;
  background-color: #ff52bf;
  font-size: clamp(1.3rem, 4vw, 2rem);
  font-weight: 600;
  text-align: center;
  border: 0;
  border-radius: 5rem;
  padding: 1.2rem 0;
  display: inline-block;
  transition: all 0.3s;
}
@media (min-width: 810px) {
  .btn {
    width: 40rem;
    padding: 2.6rem 0;
  }
}
.btn:link, .btn:visited {
  color: #f5faff;
  text-decoration: none;
}
.btn:hover, .btn:active {
  cursor: pointer;
  background-color: #ff8fd8;
}
.btn--white:link, .btn--white:visited {
  width: unset;
  color: #ff8fd8;
  background-color: unset;
  font-size: clamp(1rem, 4vw, 1.6rem);
  border: 0.1rem solid #ff52bf;
  box-shadow: rgba(255, 82, 191, 0.2) 0px 0px 12px 0px;
  margin-top: 0;
  padding: 0.4rem 1.6rem;
}
.btn--white:hover, .btn--white:active {
  cursor: pointer;
  opacity: 0.5;
}
@media (min-width: 810px) {
  .btn--white:link, .btn--white:visited {
    padding: 0.7rem 2.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
