@use '../abstracts/index.scss' as *;

.header {
  margin-top: 2.5rem;

  @media (min-width: 810px) {
    margin-top: 7.5rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 10rem;

    @media (min-width: 810px) {
      width: 25rem;
    }
  }
}
