@use '../abstracts/index.scss' as *;

.header {
  margin: 2.5rem 0 11.5rem 0;

  @media (min-width: 810px) {
    margin: 6.5rem 0 21.5rem 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 10rem;

    @media (min-width: 810px) {
      width: 20rem;
    }
  }
}
