@use '../abstracts/index.scss' as *;

.intro {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__btn {
    margin-top: 4.5rem;
  }

  &__img {
    margin: 10rem 0;
    padding: 0 1.5rem;
  }

  &__numbers {
    margin: 15rem 0 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 11.5rem;

    @media (min-width: 810px) {
      flex-direction: row;
    }
  }

  &__number {
    color: rgba($color-secondary, 0.4);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &::before {
      position: absolute;
      top: -3.5rem;
      left: -0.5rem;
    }

    &--humans {
      &::before {
        content: url('../../../images/icon-communities.svg');
        transform: scale(0.65);

        @media (min-width: 810px) {
          transform: scale(1);
        }
      }
    }

    &--msg {
      &::before {
        content: url('../../../images/icon-messages.svg');
        transform: scale(0.5);

        @media (min-width: 810px) {
          transform: scale(1);
        }
      }
    }

    &-span {
      color: $color-secondary;
      font-weight: 700;

      &--primary {
        font-size: clamp(6rem, 12vw, 12rem);
      }

      &--secondary {
        font-size: clamp(5.2rem, 12vw, 12rem);
      }
    }
  }
}
