$color-primary: hsl(322, 100%, 66%);
$color-primary--dark: hsl(0, 100%, 63%);
$color-primary--light: hsl(321, 100%, 78%);
$color-secondary: hsl(192, 100%, 9%);
$color-tertiary: hsl(207, 100%, 98%);

$font-primary: 'Open Sans', sans-serif; // 400, 600, 700
$font-secondary: 'Poppins', sans-serif; // 700
